
.titulo {
    position: fixed;
    /* vw = viewport */
    width: 100vw;
    /* z index is a 3d plane element, therefore as bigger the number, the more
    overexposed than other items it will be */
    z-index: 1; 
}


img {
    height: 100px;
    width: 100px;
    position: absolute;
}



/* 
.img2{
    position: absolute;
    left: 0px;
}
.img3{
    position: absolute;
    top: 0px;
}
.img4{
    position: absolute;
    top: 0px;
    left: 0px;
} */

/* REFACTOR */
.images img:nth-child(1){
    top: 0;
    left: 0;
}
.images img:nth-child(2){
    top: 0;
    right: 0;
}
.images img:nth-child(3){
    bottom: 0;
    right: 0;
}
.images img:nth-child(4){
    bottom: 0;
    left: 0;
}

body > div:nth-child(2){

    position: relative;
    top: 150px;
    left: 150px;
    width: 650px;
    height: 650px;
    border: 1px solid black;
}

