@media (min-width: 1025px) {
    .desktop {
        display: block;
    }
    .tablet {
        display: none;
    }
    .phone {
        display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
  
    .desktop {
        display: none;
    }
    .tablet {
        display: block;
    }
    .phone {
        display: none;
    }
    
  }


  @media (min-width: 481px) and (max-width: 767px) {
  
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
    .phone {
        display: block;
    }
    
  }